include ../mixins/navigation.jade

nav.navbar.navbar-inverse(role='navigation',style='margin:0px;padding:0px;')
  .container(style='margin:0px;padding-left:0px;')
    #navigation.collapse.navbar-collapse.navbar-left.col-xs-12.col-sm-4.col-md-3.col-lg-5(style='padding:0px; margin:0px;')
      +navLinks()
                      